body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: collapse;
}

thead th {
  text-align: center;
  border: 2px solid black;
}

thead button {
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

button::after {
  content: '⇔';
  display: inline-block;
}


button.ascending::after {
  content: '↓';
  display: inline-block;
}

button.descending::after {
  content: '↑';
  display: inline-block;
}

tbody td {
  padding: 0.1em;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

tbody tr:hover {
  background-color: #CCCCCC;
}

.filter select{
  margin: 50px;
  width: 150px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(./images/filter.ico) 96% / 15% no-repeat #EEE;
}

.search input{
  margin: 50px;
  width: 150px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;

  appearance: none;
  background: url(./images/find.ico) 96% / 15% no-repeat #EEE;
}

.pagination {
  padding: 10px;
  font-size: 20px;
}


.pagination a {
  cursor: pointer
}
